// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409EFF;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;

$navTextLightColor: #FF8723;

$colorDeepgray: #666;
$colorlightgray: #999;
$colorlightOrange: #F35623;

// JS-accessible values are in variables.ts
